		<h2>Интересные факты</h2><hr />
		<p class="text">
			<b>1.</b>Кошка обладает практически идеальным зрением.
			Светящиеся в полной темноте зрачки – показатель
			повышенной сверхчувствительности к свету. 
			Человеку требуется в шесть раз больше света,
			чтобы начать различать контуры предметов в темноте.
			Кот без труда ориентируется в самом темном помещении.<br>
			<b>2.</b> Среди собак есть богачи.
			Многие хозяева очень любят своих питомцев,
			холят их и лелеют, и даже включают в своё
			завещание в качестве наследников, даже при
			наличии наследников среди людей. Только в
			США число собак, являющихся основными
			наследниками, оценивается более чем в миллион.
			Немецкая овчарка Гюнтер является самой богатой в мире.
			Она принадлежала графине, которая после смерти завещала
			все свои средства овчарке. На сегодняшний день
			состояние собаки составляет более 300 миллионов долларов.<br>
			<b>3.</b> Все знают, что перед едой кошка тщательно
			обнюхивает пищу, перед тем как приступить к трапезе.
			Можно подумать, что это самое привередливое существо
			в мире, но на самом деле все гораздо проще. Животное,
			нюхая пищу, определяет состав и температуру,
			чтобы избежать отравления и ожога.<br>
		</p>
		<img src="images/eat_cat.jpg" class="photo">
		<p class="text">
			<b>4.</b> Сон кошки составляет более 16 часов в сутки, за
			что их считают очень ленивыми животными. Наибольшая активность
			наступает в ночные часы, как у всякого хищника.<br>
			<b>5.</b> Довольное мурлыканье кошки бесспорно принято считать
			знаком сытости и довольства. Однако это не всегда так. Животное
			может мурлыкать, когда боится чего-то или от боли.<br>
			<b>6.</b> Собаки могут запоминать сотни слов Среднестатистическая
			собака так же легко обучаема, как человеческий ребёнок и может
			выучить от 200 до 500 слов. Более того, собака может освоить основы
			математики, например, научиться считать и упорядочивать цифры по возрастанию.<br>
			<b>7.</b> Кошки обладают острым обонянием. Благодаря этому качеству
			в первую мировую войну было сформировано особенное подразделение,
			состоящее из кошек, способных учуять токсичные газы.<br>
		</p>
		<img src="images/smell_cat.jpg" class="photo">
		<p class="text">
			<b>8.</b> Собаки могут оценивать эмоции, слушая ваш голос. Группа учёных
			по результатам экспериментов сделала вывод, что собаки не просто могут 
			распознавать эмоции по лицу и голосу человека, но способны различать, 
			когда выражение лица и эмоциональная окраска речи человека не совпадают.<br>
			<b>9.</b> Собаки любят кататься в вонючих вещах, потому что они считают 
			этот запах божественным. У собак намного больше обонятельных рецепторов,
			чем у нас. Но они воспринимают запахи по-другому, и это объясняет, почему
			ваша собака любит кататься в вонючем месте.<br>
			<b>10.</b> Отпечаток носа собаки столь же уникален, как и отпечаток пальца
			человека. Считается, что нет двух собак с одинаковым отпечатком носа. 
			Канадский клуб собаководства принимает отпечатки в качестве
			доказательства идентичности с 1938 года.<br>
		</p>
		<img src="images/nose_dog.jpg" class="photo">
		<p class="text">
			<b>11.</b> Современные кошки произошли от миацидов – маленьких животных,
			живущих на деревьях. Существовали они более 40 миллионов лет назад. Первые
			представители современных кошачьих выделились примерно 12 миллионов лет назад.<br>
			<b>12.</b> Кошки любят высоту – оттуда лучше осматривается ближайшее пространство.
			Да и недруги не так быстро преодолеют высоту, на которую взобралась кошка. 
			Так же любят высоту леопарды и ягуары, которые спят на деревьях.<br>
			<b>13.</b> Собаки во сне сворачиваются калачиком из-за их инстинкта самосохранения.
			Обычно собака спит свернувшись калачиком, чтобы защитить свои внутренние органы 
			от хищников. Ещё такая позиция говорит о том, что она не хочет быть потревоженной,
			не желает играть.<br>
			<b>14.</b> Древние китайцы прятали пекинесов в рукава своей одежды для того,
			чтобы использовать их в случае опасности. Если на хозяина пекинеса кто-либо
			нападал, крошечная собака со звонким лаем выскакивала из рукавов и немилосердно
			набрасывалась на неприятеля.<br>
		</p>