		<h2>Регистрация на сайте</h2><hr />
		<form method="post" action="actions/registration.php" class="authorization">
          <h3>ИМЯ</h3>
          <input requared type="text" name="name">
		  <h3>ЛОГИН</h3>
          <input requared type="text" name="login">
		  <h3>E-MAIL</h3>
          <input requared type="mail" name="mail">
          <h3>ПАРОЛЬ</h3>
          <input requared type="text" name="password">
          <br><br>
		  <button type="submit" class="button">Регистрация</button>
        </form>