<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Главная страница сайта" />
    <meta name="keywords"    content="Животные, в добрые руки" />
    <meta http-equiv="refresh" content="60" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0"
    />
    <link rel="shortcut icon" href="images/logo.jpg" type="image/jpg" />
    <link rel="stylesheet"    href="css/index.css"   type="text/css">
    <title>В добрые руки</title>
  </head>
  <body>
    <div id="container">
      {*header*}
      {*navigation*}
      <content id="content">
		{*content*}
      </content>
      {*footer*}
    </div>
  </body>
</html>